{
    "tabWidth": 4,
    "semi": false,
    "bracketSameLine": true,
    "printWidth": 500,
    "singleAttributePerLine": false,
    "singleQuote": false,
    "plugins": ["prettier-plugin-tailwindcss"]
}
